<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Library</title>
</head>

<body>
    <%- include('../parcels/_header') %>
    <%- include('../parcels/_error-message') %>
    <br>
    <%- body %>
</body>

</html>