<h1>Recently added book</h1>
<div>
    <% if (typeof books != 'undefined' ) { %>
    <% books.forEach( book => { %>
    <a href="book/<%= book.id  %>">
        <img src="<%= book.coverImagePath %> " alt="" height="150" width="100">
    </a>

    <%  } )  %>
    <% } %>
</div>