<h2 class="page-header">Edit Page</h2>
<!-- form before FilePond = enctype="multipart/form-data" -->
<form action="/book/<%= book.id %>/edit?_method=PUT" method="POST">
    <%- include('../parcels/_form-fields-book') %>
    <a href="/book">Cancel</a>
    <button type="submit">Update</button>
</form>