<h2>New Header</h2>
<form action="/book" method="POST" enctype="multipart/form-data">
    <%- include('../parcels/_form-fields-book') %>
    <a href="/book">Cancel</a>
    <button type="submit">Create</button>
</form>