<h2 class="page-header">New Book</h2>
<!-- form before FilePond = enctype="multipart/form-data" -->
<form action="/book" method="POST">
    <%- include('../parcels/_form-fields-book') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/book">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>

</form>