<header>
    <nav>
        <a href="/">My-Library</a>
        <ul>
            <li><a href="/authors">All Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </ul>
    </nav>
</header>