<header>
    <nav>
        <a href="/">My-Library</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/book/new">Add Book</a></li>
            <li><a href="/book">Books</a></li>
        </ul>
    </nav>
</header>