<h2 class="page-header"><%= author.name %> </h2>
<div class="button-row">
    <a class="btn btn-primary" href="/authors/<%= author._id %>/edit">Edit</a>
    <%- include('../parcels/_delete-form',{url:`/authors/${author.id}`}) %>
</div>
<h2>Books By Author</h2>
<%- include('../parcels/_bookGrid',{
    books : booksByAuthor,large:false
})  %>