<h2><%= author.name %> </h2>
<a href="/authors/<%= author._id %>/edit">Edit</a>
<%- include('../parcels/_delete-form',{url:`/authors/${author.id}`}) %>
<% if(booksByAuthor != null && booksByAuthor.length > 0) { %>
<h2>Books By Author</h2>
<div>
    <% booksByAuthor.forEach( book => { %>
    <img src="<%= book.coverImagePath %> " alt="" height="150" width="100">
    <%  } )  %>

</div>
<% } %>